$enable-ltr: true;
$enable-rtl: true;

@import '@coreui/coreui/dist/css/coreui.min.css';
@import '@coreui/icons/css/free.min.css';
@import "@coreui/coreui/scss/coreui";

.wrapper {
  width: 100%;
  @include ltr-rtl('padding-left', var(--cui-sidebar-occupy-start, 0));
  will-change: auto;
  @include transition(padding 0.15s);
}
